<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
  </head>
  <body bgcolor="#b8bdc4">
    <div align="center">
      <h1>PDF SPLITTER & MERGER</h1>
      <hr />
      <br />
      <form action="/process" method="post" enctype="multipart/form-data">
        <label for="file">Select PDF(s) to Split or Merge:</label> <br />
        <input type="file" name="file" multiple /><br /><br />
        <input type="submit" value="merge" />
      </form>
    </div>
  </body>
</html>
